@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
	<Authorized>
		<a href="authentication/profile" class="btn btn-link">@("Hola " + context.User.Identity.Name + "!")</a> 
		<RadzenButton Click="BeginSignOut" Text="Salir" ButtonStyle="@ButtonStyle.Secondary"></RadzenButton>
	</Authorized>
	<NotAuthorized>
		<a href="authentication/register"class="btn btn-link">Registrarse</a>
		<a href="authentication/login"class="btn btn-link">Iniciar Sesión</a>
	</NotAuthorized>
</AuthorizeView>

@code{

	private async Task BeginSignOut(MouseEventArgs args)
	{
		await SignOutManager.SetSignOutState();
		Navigation.NavigateTo("authentication/logout");
	}

}