@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
	<Authorized>
		<RadzenLink Path="authentication/profile" Text="@("Hola " + context.User.Identity.Name!)"></RadzenLink>
		<RadzenButton Style="margin-left: 20px;" Click="BeginSignOut" Text="Salir" ButtonStyle="@ButtonStyle.Secondary"></RadzenButton>
	</Authorized>
	<NotAuthorized>
		<a href="authentication/register">Registrarse</a>
		<a href="authentication/login">Iniciar Sesión</a>
	</NotAuthorized>
</AuthorizeView>

@code{

	private async Task BeginSignOut(MouseEventArgs args)
	{
		await SignOutManager.SetSignOutState();
		Navigation.NavigateTo("authentication/logout");
	}

}