@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrate";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="py-4 my-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mb-4">
            <div class="col-8 offset-2">
                <div class="card shadow">
                    <div class="card-body px-lg-5 pt-2">
                        <h3 class="col-12 text-info text-center py-3">Registrarse</h3>
                        <hr/>
                        <div class="row py-2">
                            <div class="col-6">
                                <input asp-for="Input.Nombre" class="form-control" placeholder="Nombre"/>
                                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <input asp-for="Input.Apellidos" class="form-control" placeholder="Apellidos"/>
                                <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Password" class="form-control" placeholder="Contraseña"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirmar Contraseña"/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <button type="submit" class="btn btn-success form-control">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
