@page "/clientes"

<div class="row">
	<div class="col-auto me-auto">
		<h2 class="text-primary">Clientes</h2>
	</div>
	<div class="col-auto">
		<a href="clientes/crear" class="btn btn-success">
			<i class="bi bi-plus" style="font-size: 1.25rem"></i>
			Registrar Cliente
		</a>
	</div>
</div>


@code {

}